*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{

    width:auto;
    height:100px;
    border: 1px solid black;
    border-color: #a8a4a4;
    margin: 15px 10px 15px 10px;
}

#logo{
    width: 150px;
    float: left;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

nav{
    float: right;
}

.nav-it > li{
    display: inline-block;
    font-size: 20px ;
}

.nav-it > li > a {
    color: black;
}

.nav-it > li > a:hover{
    font-weight: bold;
}

footer{
    top:0;
    width:auto;
    border: 1px solid black;
    border-color: #a8a4a4;
    margin: 15px 10px 15px 10px;
    text-align:center;
    font-size: 12px;
}
div.blur{
    display:inline;
    color: #bcbcbc;
}